@import "~/assets/sass/index.scss";

.BlogTitleGlitch {
  width: 100%;

  & &__textColumn {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  & &__textColumn + &__textColumn {
    margin-top: 20%;
  }

  & &__glitchChar {
    width: 45px;
    text-align: center;
  }
}