@import '~/assets/sass/index.scss';

.GalleryPost {
  color: #444;
  width: 100%;
  height: 50%;

  & &__item {
    width: 280px;
    height: 100vh;
    margin: 0 auto;
  }

  & &__itemButton {
    width: 100%;
    height: 100%;
  }

  & &__itemButtonLink {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
