@import '~/assets/sass/index.scss';

.GalleryAlbum {
  & &__bgImg {
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeInBgImg 2s;
  }
  & &__bgImgBody {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(50px);
    transform: scale(1.1);
  }

  & &__bgMask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    opacity: 0.6;
    animation: fadeInBgMask 2s;
  }

  & &__rightFrame {
    position: fixed;
    top: 0;
    right: -20px;
    bottom: 0;
    // height: 100vh;
    height: 100%;
    width: 50px;
    vertical-align: middle;
    text-align: center;
  }
  & &__rightFrameText {
    position: absolute;
    width: 18px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    font-size: 10px;
    line-height: 1.5;
    letter-spacing:.2em;
    color: #fff;
    font-family: $gallery-frame-font-family-2;
  }

  & &__itemsMask {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    width: calc(100vw - 70px);
    height: calc(100vh - 160px);
    margin: 80px auto;
    z-index: $elevation-level2-z-index;
  }

  & &__items {
    animation: fadeInMainImg 2s;
    width: 100%;
    height: auto;
  }

  & &__item {
    width: 100%;
    height: calc(100vh - 160px);
  }

  & &__itemImg {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    object-fit: contain;
  }
}

@keyframes fadeInBgImg {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBgMask {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeInMainImg {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}