@import "~/assets/sass/index.scss";

.MainBackgroundImage {
  & &__body {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  & &__body--show {
    width: 100vw;
    height: 100vh;
    animation: showImage 1.0s;
    object-fit: cover;
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}