@import '~/assets/sass/index.scss';

.BlogPosts {
  $title-padding-top: 30vh;

  & &__upper {
    background-color: #fff;
    position: fixed;
    top: -10%;
    width: 100%;
    height: 60%;
    z-index: 0;
  }

  & &__title {
    width: 100%;
    margin: $title-padding-top auto 0;
    color: $global-font-color-black;
    font-size: $global-base-font-size-large;
    font-family: $global-frame-font-family;
    text-align: center;
    letter-spacing: 1.2px;
    animation: fadeInTitle 2.0s;
  }

  & &__lower {
    position: fixed;
    top:50%;
    width: 100%;
    height: 50%;
    background-color: $global-color-gray-1;
    animation: fadeInLower 2.5s;
  }

  & &__items {
    position: absolute;
    // %指定だとうまくスタイルが当たらないのでvhで指定する
    top: 50vh;
    left: 0;
    right: 0;
    margin-top: -50px;
    padding-bottom: 300px;
    z-index: $elevation-level1-z-index;
    animation: fadeInItems 2.5s;
  }

  & &__item + &__item {
    margin-top: 80px;
  }
}

@keyframes fadeInLower {
  0% {
    opacity: 0;
    top: 60%;
  }
  40% {
    opacity: 0;
    top: 60%;
  }
  70% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes fadeInItems {
  0% {
    opacity: 0;
    top: 60%;
  }
  50% {
    opacity: 0;
    top: 60%;
  }
  80% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}