@import "~/assets/sass/index.scss";

.TopEyeCatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & &__mainBackgroundImage {
    z-index: 0;
    width: 100%;
  }

  & &__mainTitleGlitch {
    z-index: 1;
    position: absolute;
    width: 24%;
    top: 50vh;
    transform: translateY(-50%);
  }

  & &__nameLogo {
    z-index: 2;
    width: 65%;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
  }
}