@import '~/assets/sass/index.scss';

.BlogView {
  background-color: $global-color-gray-1;

  & &__blogFrameSide {
    position: fixed;
    z-index: $elevation-level4-z-index;
  }
  & &__bottomFrame {
    position: fixed;
    animation: fadeInBottomFrame 3s;
    z-index: $elevation-level3-z-index;
  }

  & &__GlobalSnsButton {
    z-index: $elevation-level2-z-index;
  }

  & &__GlobalSnsButton--pushed {
    z-index: $elevation-level4-z-index;
  }

  & &__GlobalNavButton {
    z-index: $elevation-level2-z-index;
  }

  & &__GlobalNavButton--pushed {
    z-index: $elevation-level4-z-index;
  }

  & &__snsRouter {
    z-index: $elevation-level3-z-index;
  }

  & &__navRouter {
    z-index: $elevation-level3-z-index;
  }
}

@keyframes fadeInBottomFrame {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}