@import "~/assets/sass/index.scss";

.MainBackgroundImage {
  & &__body {
    width: 100%;
    min-height: 100vh;
    animation: showImage 1.0s;
    object-fit: contain;
    background-image: url('../../../../assets/images/top-image-fixed.png');
    background-position: center top;
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}