@import "~/assets/sass/index.scss";

.MainBackgroundImage {
  $body-margin: 30px;

  & &__body {
    margin: $body-margin;
    width: calc(100% - #{$body-margin} * 2);
    min-height: calc(100vh - #{$body-margin} * 2);
    animation: showImage 1.0s;
    background-image: url('../../../../assets/images/top-image-fixed.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}