* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
}

a, nuxt-link {
  text-decoration: none;
}

a {
  color: #fff
}

ul, li {
  list-style: none;
}

h1,h2,h3 {
  text-align: center;
}

fieldset {
  border: none;
}

button, input, textarea {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
